<div class="cart-product">
    <!-- Imagen del producto -->
    <img [src]="productoInfo.images[0] || 'https://via.placeholder.com/60'" [alt]="productoInfo.title" class="product-image" />
  
    <!-- Información del producto -->
    <div class="product-details">
      <h4>{{ productoInfo.title }}</h4>
      <p>{{ productoInfo.description }}</p>
      <p>Categoría: {{ productoInfo.category?.name || 'Sin categoría' }}</p>
    </div>
  
    <!-- Controles de cantidad -->
    <div class="quantity-controls">
      <button (click)="decreaseQuantity()">-</button>
      <span>{{ productoInfo.quantity }}</span>
      <button (click)="increaseQuantity()">+</button>
    </div>
  
    <!-- Subtotal del producto -->
    <p class="product-price">{{ (productoInfo.price * productoInfo.quantity)}}</p>
  
    <!-- Botón para eliminar producto -->
    <button class="remove-button" (click)="removeProduct.emit(productoInfo.id)">
      Eliminar
    </button>
  </div>
  