body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    background-color: #f9f5f0;
}

.contact-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-header {
    text-align: center;
    margin-bottom: 20px;
}

.contact-header h1 {
    font-size: 2.5rem;
    color: #ea6834;
    margin-bottom: 10px;
}

.contact-header p {
    font-size: 1rem;
    color: #73302e;
}

.form-group {
    margin-bottom: 20px;
    margin-right: 20px;
}

.form-group label {
    display: block;
    font-size: 1rem;
    color: #73302e;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #dcbb7e;
    border-radius: 5px;
    background-color: #f9f5f0;
}

.form-group textarea {
    resize: none;
    height: 100px;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #ea6834;
}

.form-group .captcha {
    text-align: center;
}

.form-submit {
    text-align: center;
}

.form-submit button {
    background-color: #ea6834;
    color: #ffffff;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-submit button:hover {
    background-color: #dcbb7e;
}

@media (max-width: 768px) {
    .contact-container {
        padding: 10px;
    }

    .contact-header h1 {
        font-size: 2rem;
    }

    .form-group label {
        font-size: 0.9rem;
    }

    .form-group input,
    .form-group textarea {
        font-size: 0.9rem;
    }

    .form-submit button {
        font-size: 0.9rem;
        padding: 8px 15px;
    }
}