/* Contenedor de productos */
.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  padding: 16px;
  font-family: 'Playfair Display', serif;
}

/* Tarjetas individuales */
.product-card {
  flex: 1 1 280px; /* Tamaño base para las tarjetas */
  max-width: 320px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 100%;
}

/* Hover effect para las tarjetas */
.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Contenedor de imágenes */
.image-container {
  width: 100%;
  height: auto; /* Hace que la altura se ajuste a la imagen */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

/* Imágenes */
.image-container img {
  width: 100%;
  height: auto; /* La imagen ajusta su altura proporcionalmente */
  object-fit: contain; /* Ajusta la imagen sin recortarla */
}

/* Título del producto */
.product-card h3 {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin: 10px 0;
  text-align: center;
}

/* Precio */
.price {
  font-weight: bold;
  font-size: 1.2em;
  color: #73302e; /* Color marrón para el precio */
  margin-top: 8px;
}

/* Descripción o texto adicional */
.product-card p {
  margin: 4px 0;
  font-size: 1em;
  font-family: 'Playfair Display', serif;
  color: #73302e; /* Color para el texto */
  text-align: center;
  flex-grow: 1; /* Hace que el texto se ajuste dentro del contenedor */
  overflow-wrap: break-word; /* Permite que el texto se ajuste si es demasiado largo */
  word-wrap: break-word;
  hyphens: auto;
}
