* {
  margin: 0;
  padding-top: 38px;
  box-sizing: 20;
}

/* Contenedor principal */
.product-container {
  display: flex; /* Usa flexbox para organizar las tarjetas */
  flex-wrap: wrap; /* Permite que las tarjetas pasen a nuevas filas si no caben en la fila actual */
  gap: 16px; /* Espacio uniforme entre tarjetas */
  justify-content: center; /* Alinea las tarjetas de manera uniforme en el centro */
  padding: 16px;
}
